* {

    border: none;
    border-radius: 6px;
    font-family: "Roboto Bold";
    font-weight: 600;
    font-size: 14px;
    color: rgba(50, 50, 50, 1);
    min-height: 0px;
}

window#waybar {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 6px;
}

#workspaces button {
    background-color: #fea94c;
    color: #fea94c;
    padding: 0 2px 0 1px;
    margin: 0 6px 0 6px;
    border-radius: 100px;
}

#workspaces button label {
    color: #fea94c;
}

#workspaces button.focused {
    background-color: rgba(254,192,155,0.8);
}

#workspaces button.urgent {
    background-color: rgba(254,192,155,0.8);
}

#workspaces button.active {
    color: #fea94c;
    padding: 0 10px 0 10px;
}

#workspaces button.active label {
    color: #fea94c;
}

#language {
    border: 2px solid #3e69a0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: rgba(255, 255, 255, 0);    
    border-radius: 0;
    padding: 1px 6px 0 7px;
    color: #3e69a0;
}

#clock {
    border: 2px solid #3e69a0;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 1px 6px 0 6px;
    color: #3e69a0;
}

#battery {
    border: 2px solid #fe504b;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 1px 7px 0 6px;
    border-radius: 0;
    color: #fe504b;
}

#pulseaudio {
    border: 2px solid #fe504b;
    border-top: 0;
    border-right: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 1px 6px 0 6px;
    margin-top: 0;   
    margin-left: 2px;
    margin-right: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #fe504b;
}

#backlight {
    border: 2px solid #fe504b;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 1px 8px 0 8px;
    border-radius: 0;
    color: #fe504b;
}

#network {
    border: 2px solid #3e69a0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 1px 8px 0 8px;
    margin-top: 0;    
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
    color: #3e69a0;
}

#network.disconnected {
    padding: 1px 6px 0px 6px;
}

#pulseaudio.muted {
    padding-top: 1px;
}

#window {
    border: 0;
    border-color: rgba(50, 50, 50, 0.7);
    background-color: rgba(200, 200, 200, 0.7);
    padding: 0 6px 0 6px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
}

window#waybar.empty #window {
   background-color: rgba(0, 0, 0, 0);
   border: 0;
}

#mode {
   background-color: rgba(255, 255, 255, 1);
}

#workspaces {
    border: 2px solid #fea94c;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 5px 0 5px 0;
}

#tray {
   border: 0 solid #fe504b;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   background-color: rgba(255, 255, 255, 0);
   padding: 0 4px 0 4px;
   margin-top: 0;   
   margin-left: 0;
   margin-right: 2px;
}

#tray menu {
   background-color: rgba(253,223,153,0.9);
   color: rgba(0, 0, 0, 1);
   border-radius: 6px;
   border: 3px solid #ffaa4f;
}

#tray menu :hover {
   background-color: rgba(255,185,222,0.8);
}
#tray menu :hover label { 
   color: rgba(0, 0, 0, 1);
}

#tray window {
   background-color: rgba(0, 0, 0, 0);
   border-style: none;
   color: rgba(0, 0, 0, 0);
   box-shadow: none;
   border-color: rgba(0, 0, 0, 0);
   outline: none;
}

#tray window decoration{
   border-style: none;
   box-shadow: none;
}

#bluetooth {
   border: 2px solid #3e69a0;
   border-right: 0;
   border-left: 0;
   border-top: 0;
   background-color: rgba(255, 255, 255, 0);
   margin-left: 0;
   margin-top: 0;
   border-radius: 0;
   padding: 1px 8px 0 7px;
   color: #3e69a0;
}

tooltip {
   background-color: rgba(210,215,245,0.9);
   border: 3px solid #3b6a9f;
   text-shadow: none;
   border-radius: 6px;
}

tooltip label {
   color: rgba(0, 0, 0, 1);
}

#custom-notification {
   border: 0;
    border-color: rgba(50, 50, 50, 0.7);
    border-left: 0;
   background-color: rgba(200, 200, 200, 0.7);
   padding: 3px 3px 3px 3px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;   
}

#custom-drun {
   border: 0;
   border-color: rgba(50, 50, 50, 0.7);
   background-color: rgba(200, 200, 200, 0.7);
   padding-right: 9px;
   padding-left: 8px;
   padding-bottom: 0;
   padding-top: 0;
   margin-top: 0px;
   margin-right: 2px;
   margin-left: 0;
   
   border-radius: 6px;
   font-size: 14px;
}

#cpu {
   border-bottom: 2px solid #fd7cb4;
   color: #fd7cb4;
   border-radius: 0;
   padding: 1px 6px 0 6px;
   background-color: rgba(255, 255, 255, 0);
}

#temperature {
   border-bottom: 2px solid #fd7cb4;
   margin-top: 0;
   color: #fd7cb4;
   padding: 1px 6px 0 8px;
   border-radius: 0;
   background-color: rgba(255, 255, 255, 0);
}

#memory {
   margin-top: 0;
   padding: 1px 6px 0 6px;
   color: #fd7cb4;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   border-bottom-left-radius: 0;
   border-bottom: 2px solid #fd7cb4;
   border-right: 2px solid #fd7cb4;
   background-color: rgba(255, 255, 255, 0);
}

#keyboard-state {
   padding: 0 8px 0 6px;
   border-radius: 0;
   border-bottom: 2px solid #fd7cb4;
}

#keyboard-state label {
   color: #fd7cb4;
}
